language: node_js
node_js:
  - "node"

cache:
  directories:
    - ./node_modules

before_install:
  - npm install -g @angular/cli
  - npm install -g @ionic/cli

install:
  - npm install

script: npm run deploy

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
