.toolbar-background {
  background: #430473 !important;
}

.toolbar-title {
  color: white !important;
}

ion-card {
  border-radius: 10px !important;
}

ion-card-header {
  border-bottom: 1px  solid rgba(0, 0, 0, 0.2) !important;
  text-shadow: 1px 1px gray !important;
}

.content{
  background-color: #653297 !important;
}
